@media (max-width: 900px){
    .navigation ul li a{
        font-size: 1.1rem;
    }
}
@media (max-width: 640px){
    .logo img{
        height: 15vh;
    }
    .nav_bar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .dropdown.open{
        display: block;
    }
}